.colorNav {
    background-color: rgb(26, 177, 59);
}

#Hero-Section {
    background-image: url("../imgs/fotoCurriculum.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

nav{
    position: sticky
}